:root {
    --laranja: #fca311;
    --cinza: #e5e5e5;
    --azul: #14213d;
    --branco: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }

  .subtitulo-secao {
    font-size: 2em;
  }

html,
body {
  height: 100%;
  width: 100%;
}

.header {
  align-items: center;
  background-color: #14213D;
  display: flex;
  height: 78px;
  justify-content: space-between;
  padding-inline: 25px;
  position: relative;
}

.header * {
  color: #FCA311;
}

.header h1 {
  cursor: pointer;
}

.navbar__links-list {
  display: flex;
  list-style: none;
}

.links-list__item a {
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}

.links-list__item a:hover {
  background-color: #00000066;
  text-decoration: underline;
}

.links-list__item a:active {
  opacity: 0.9;
}

.burger-button {
  display: none;
}

  /*Fim dos estilos para a Navbar*/

  .container {
    position: relative;
    background-color: var(--cinza);
    width: 100vw;
    max-width: 100%;
    min-height: 95vh;
    margin: 0 auto;
  }
  
  #home {
    width: 100%;
    height: 100vh;
    padding: 4em;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background: url("./assets/imagem-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  #home h1 {
    font-size: 3em;
    color: var(--laranja);
  }
  
  #home h2 {
    color: var(--branco);
  }
  
  #sobre {
    width: 100%;
    height: 60vh;
    padding: 4em;
  
    display: flex;
    justify-content: space-between;
  }
  
  #sobre img {
    width: 30%;
    height: fit-content;
    border-radius: 15px;
    right: 0;
    box-shadow: 2px 2px 1em rgb(157, 156, 156);
  }
  
  #dados_contato {
    width: 100%;
    height: 50vh;
    padding: 4em;
    background: var(--azul);
    color: white;
  
    display: flex;
    justify-content: space-between;
  }
  
  #dados_contato h3 {
    height: min-content;
    border-bottom: 4px solid var(--laranja);
  }
  
  #dados_contato ul {
    width: 30%;
  }
  
  #dados_contato li {
    list-style: none;
    padding: 1em 0;
  
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  #dados_contato i {
    font-size: 1.8em;
    margin-right: 15px;
  }
  
  #dados_contato a {
    color: white;
  }
  
  #formacoes {
    width: 100%;
    height: 70vh;
    padding: 4em;
  }
  
  #formacoes ol {
    padding: 2em;
  
    display: flex;
  }
  
  #formacoes ol li{
    padding-top: 1em;
    margin-right: 4em;
    list-style: none;
    font-size: 1.2em;
    font-weight: 300;
  }
  
  .formacoes_titulo-lista {
    border-bottom: 4px solid var(--laranja);
    font-weight: 600;
  }
  
  #experiencias {
    width: 100%;
    height: auto;
    color: var(--branco);
    background-image: url("./assets/imagem-sobre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #experiencias ol {
    padding: 2em 4em 4em;
    list-style: none;
    font-size: 1.2em;
  }
  
  #experiencias li {
    margin-bottom: 15px;
  }
  
  .experiencias-conteudo {
    padding: 4em;
  }
  
  .experiencias-container {
    background-color: var(--azul);
    opacity: 0.9;
  }
  
  #footer {
    width: 100%;
    background-color: var(--laranja);
  
    display: flex;
    padding: 1em 4em;
    justify-content: space-between;
  }
  
  #footer nav {
    display: flex;
  }
  
  #footer a {
    color: var(--azul);
    padding: 0 1em;
    display: flex;
    align-items: center;
  }
  
  #footer i {
    font-size: 1.3em;
    padding-right: .5em;
  }
  
  #link-home {
    position: fixed;
    right: 20px;
    bottom: 30px;
    color: var(--laranja);
    background-color: var(--branco);
    border-radius: 50%;
    z-index: 100;
    font-size: 3em;
  }

  @media (max-width: 768px) {
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .navbar {
    display: none;
  }

  .navbar.active {
    background-color: var(--cinza);
    display: block;
    height: calc(100vh - 78px);
    left: 0;
    position: absolute;
    top: 78px;
    width: 100%;
  }

  .navbar.active .navbar__links-list {
    align-items: center;
    flex-direction: column;
    font-size: 20px; /* Adjust the font size for smaller screens */
    gap: 20px;
    height: 100%;
    justify-content: center;
  }

  .burger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    width: 30px;
  }

  .burger-button .burger-button__bar {
    background-color: var(--laranja);
    display: block;
    height: 2px;
    margin-block: 8px;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  .navbar.active ~ .burger-button .burger-button__bar {
    margin-block: -2px;
  }

  .navbar.active ~ .burger-button .burger-button__bar:nth-child(1) {
    transform: rotate(45deg);
  }

  .navbar.active ~ .burger-button .burger-button__bar:nth-child(2) {
    transform: rotate(-45deg);
  }

  .navbar.active ~ .burger-button .burger-button__bar:nth-child(3) {
    display: none;
  }

  #sobre,
  #dados_contato,
  #formacoes,
  #experiencias {
    max-width: 100%; /* Ensure content doesn't overflow on smaller screens */
  }
}

@media (max-width: 300px) {
  .header h1 {
    font-size: 25px;
  }
  
  /* Add additional styles for screens smaller than 300px if needed */
}
@media (max-width: 300px) {
  .header h1 {
    font-size: 25px;
  }
}
